/* ---- reset ---- */

body {
    height: 100vh;
    width: 100%;
    margin: 0;
    font:normal 75% Arial, Helvetica, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: -2;
  }
  
  
  /* ---- particles.js container ---- */
  
  #particles-js {
    width: 100%;
    height: 100%;
    background-color: #fff;
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
  }

  h1{
   display: block;
   font-size: 50px;
   letter-spacing: 12px;
   text-transform: uppercase;
	background: linear-gradient(to right, #9530d0d8 0%, #330867 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
  }
